@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #11091a, #2f2f4d);
    overflow: hidden;
}
.name-game{
    color: white;;
    font-size: 2em;
}
.box-game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
    height: 60vh;
}
.square{
    cursor: pointer;
    background: transparent;
    border: 4px solid rgba(0, 0, 0, 0.5);
    font-size: 5em;
    color: white;
    height: 20vh;
    font-family: 'Fredoka One', cursive;
}
/*Retirar bordas de cima*/
.square1, .square2, .square3{
    border-top: none;
}
/*Retiradas bordas da esquerda*/
.square1, .square4, .square7{
    border-left: none;
}
/*Retiradas bordas inferiores*/
.square7, .square8, .square9{
    border-bottom: none;
}
/*Retirar bordas da direita*/
.square3, .square6, .square9{
    border-right: none;
}
.popup-wrapper{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px #2f2f4d;
    border-radius: 10px;
    width: 35%;
    height: 45vh;
}
.winner{
    color: #2f2f4d;
    font-size: 3em;
    animation: winnerName .5s infinite alternate;
    transition: .5s;
    text-shadow: 2px 2px 3px black;
}
.reset{
    cursor: pointer;
    font-size: 1.4em;
    padding: 2% 4%;
    border: none;
    background-color: #2f2f4d;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}
.reset:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
.choosen-difficulty{
    display: flex;
    column-gap: 15px;
}
.choosen-difficulty div{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.choosen-difficulty div label{
    font-size: 1.5em;
    color: black;
}
.choosen-difficulty div input{
    width: 20px;
    height: 20px;
    accent-color: #2f2f4d;
}
.active{
    display: flex;
    animation: effectPopup 1s;
}
@keyframes effectPopup{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes winnerName{
    to{
        transform: scale(1.2);
    }
}
@media(max-width: 600px) {
    .box-game{
        width: 80%;
    }
    .popup{
        width: 70%;
    }
}
@media(max-width: 400px){
    .name-game{
        font-size: 1.5em;
    }
    .box-game{
        width: 95%;
    }
    .square{
        font-size: 3em;
    }
    .popup{
        width: 90%;
        height: 50vh;
    }
}